body{
	background-image: url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	height: 15em;
	width: 15em;
	border-radius: 70% 70%;
	position:relative;
	left:15%;
	transition: 3s all;
	object-fit: cover;
}
h2{
	color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px brown;
}
p{
	text-align: center;
	color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	animation: fade 2s;
	font-size: 1.2em;
}
li{
	margin-left:10%;
}
ul{
	animation: fade 4s;
	max-height:auto;
	max-width:50%;
	list-style: none;
}
span{
	text-shadow: 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 2px 2px 2px rgba(206,0,0,0);
}
.nav{
	animation: 5s.ease;
     font-size: 33px;
  color: #fcd000;
  font-weight: lighter;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  transform: rotateX(65deg);
  margin-bottom: 20%;
  text-align: center;
  color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 60px blue;
}
@keyframes fade {
	from{
		transform: translateX(50%);
	}
	to{
		transform: translateX(0%);
	}
}
@media screen and (min-width: 250px) and (max-height: 950px){
	body{
	background-image: url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	height: 15em;
	width: 15em;
	border-radius: 70% 70%;
	margin-left: 25% ;
	transition: 3s all;
	object-fit: cover;
}
h2{
	color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px brown;
}
p{
	text-align: center;
	color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	animation: fade 2s;
	font-size: 1.2em;
}
li{
	margin-left: 30%;
}
ul{
	animation: fade 4s;
	list-style: none;
}
span{
	text-shadow: 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 2px 2px 2px rgba(206,0,0,0);
}
.nav{
	animation: 5s.ease;
     font-size: 33px;
  color: #fcd000;
  font-weight: lighter;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  transform: rotateX(65deg);
  margin-bottom: 20%;
  text-align: center;
  color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 60px blue;
}
@keyframes fade {
	from{
		transform: translateX(50%);
	}
	to{
		transform: translateX(0%);
	}
}
}
