.slider{
	height: 70vh;
	width: 100%;
	position: relative;
	box-sizing: border-box;

}
    logo {
	object-fit: cover;
	margin-left: 45% ;
        width: 15em;
        height: 15em;
        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*.logo::before{
        content: "";
        background-image: conic-gradient(
            orange 20deg,
            transparent 120deg
        );
        width: 80%;
        height: 150%;
        position: absolute;
        animation: rotate 5s linear infinite;
    }
    .logo::after{
        content: "Animation";
        width: 11.5em;
        height: 11.5em;
        background-image:url('https://images.unsplash.com/photo-1486525546686-3cd5484691f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80');
        position: absolute;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ff0052;
        font-size: larger;
        letter-spacing: 5px;
        box-shadow: inset 20px 20px 20px #0000008c;
    }
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }*/
.container img{
	max-width: 100%;
}
.menu-bar{
		height: auto;
	width: auto;
	position: relative;
	padding: 0;
	animation: fade 2s;
	left: 35%;
	background-color: rgba(0, 0, 0,0.1);
	border-radius: 30px;
}
.plus{
	position: absolute;
	top: 83%;
	animation: fade 2s;
	right: 45%;
}
.start{
position: absolute;
	top: 83%;
	animation: fade 2s;
	left: 45%;
}
.pause{
	position: absolute;
	top: 83%;
	animation: fade 2s;
	right: 50%;
}
.moins{
	position: absolute;
	top: 83%;
	left: 40%;
		animation: fade 2s;
}
a{
	background-color: rgba(0, 0, 0,0.0);
	height: auto;
	text-decoration: none;
	padding-right: auto;
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	padding-bottom: 0.5em;
	width: 4em;
	border-style: none;
	border-radius: 30px;
	color: white;

}
a:hover{
		background-color: rgba(0, 0, 0,0.0);
	height: auto;
	text-decoration: none;
	padding-right: auto;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0;
	text-align: center;
	width: 4em;
	border-style: none;
	border-radius: 30px;
	color: black;
}
.slider img{
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top:  20%;
	display: none;
	transition: opacity .5s;

}
@keyframes fade {
	from{
		opacity: 0;
		transform: translateX(-60%);
	}
	to{
		opacity: 1;
		transform: translateX(0%);
	}
}
img.active{
	display: block;
	object-fit: cover;
	max-width: 100%;
	animation: fade 2.5s;
}
h1{
	text-align: center;
	font-size: 5em;
      line-height: 10vh;
        color: #fcedd8;
        font-family: 'Niconne', cursive;
        font-weight: 10;
      text-shadow: 1px 1px 0px #eb452b, 
                  2px 2px 0px #efa032, 
                  3px 3px 0px #46b59b, 
                  4px 4px 0px #017e7f, 
                  5px 5px 0px #052939, 
                  6px 6px 0px #c11a2b, 
                  7px 7px 0px #c11a2b;
}
p{
	font-size: 2em;
text-align: center;
position: inherit;
left: 35%;
top: 5%;
	color: white;
	text-shadow: 0 0 3px #F10D58, 0 0 7px #4578D5;

}
ul{
	
	position: relative;
	left: 35%;
}
.menu-bar {
	border-radius: 25px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
	align-items: center;
	padding: 0 10px;
	margin: 50px 0 0 0;
}


	li {
		list-style: none;
		color: black;
		font-family: sans-serif;
		font-weight: bold;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
}
}
		li::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			//border-radius: 25px;
		}
			li:hover {
				color: white;
}
body{
	background-image: url('https://images.unsplash.com/photo-1607743386830-f198fbd7f9c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
	background-size: contain;
	background-repeat: repeat;
}
@media screen and (max-width: 900px) and (min-height: 250px){

.slider{
	height: 70vh;
	width: 100%;
	position: relative;
	box-sizing: border-box;

}
.logo{
	height: 12em;
	width: 12em;
	border-radius: 70% 70%;
	margin-left: 30% ;
	animation: fade 2s;
	transition: 3s all;
	object-fit: cover;
}
.container img{
	max-width: 100%;
}
.menu-bar{
		height: auto;
	width: auto;
	position: relative;
	padding: 0;
	animation: fade 2s;
	left: 0%;
	background-color: rgba(0, 0, 0,0.1);
	border-radius: 30px;
}
.plus{
	position: absolute;
	top: 100%;
	animation: fade 2s;
	right: 15%;
}
.start{
position: absolute;
	top: 100%;
	animation: fade 2s;
	left: 30%;
}
.pause{
	position: absolute;
	top: 100%;
	animation: fade 2s;
	right: 50%;
}
.moins{
	position: absolute;
	top: 100%;
	left: 15%;
		animation: fade 2s;
}
li{
	margin: auto;
	width: auto;
		height: auto;
	padding: 0;
}
button{
	background-color: rgba(0, 0, 0,0.0);
	height: auto;
	padding-right: auto;
	font-size: 0.6em;
	font-weight: bold;
	text-align: left;
	padding-bottom: 0.5em;
	width: 4em;
	border-style: none;
	border-radius: 30px;
	color: white;

}
button:hover{
		background-color: rgba(0, 0, 0,0.0);
	height: auto;
	padding-right: auto;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0;
	text-align: center;
	width: 4em;
	border-style: none;
	border-radius: 30px;
	color: black;
}
.slider img{
	object-fit: cover;
	height: 60%;
	width: 90%;
	margin-top: 0.5em;
	margin-left: 10%;
	border-radius: 30% 30%;
	top:  auto;
	display: none;
	transition: opacity .5s;
}
@keyframes fade {
	from{
		opacity: 0;
		transform: translateX(-60%);
	}
	to{
		opacity: 1;
		transform: translateX(0%);
	}
}
img.active{
	display: block;
	object-fit: cover;
	max-width: 100%;
	animation: fade 2.5s;
}
h1{
	text-align: center;
	font-size: 2em;
      line-height: 5vh;
        color: #fcedd8;
        font-family: 'Niconne', cursive;
        font-weight: 10;
      text-shadow: 1px 1px 0px #eb452b, 
                  2px 2px 0px #efa032, 
                  3px 3px 0px #46b59b, 
                  4px 4px 0px #017e7f, 
                  5px 5px 0px #052939, 
                  6px 6px 0px #c11a2b, 
                  7px 7px 0px #c11a2b;
}
p{
	font-size: 1em;
text-align: center;
	color: white;
	text-shadow: 0 0 3px #F10D58, 0 0 7px #4578D5;

}
ul{
	
	position: relative;
	left: 35%;
}

	li {
		list-style: none;
		color: black;
		font-family: sans-serif;
		font-weight: bold;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
}
}
		li::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			//border-radius: 25px;
		}
			li:hover {
				color: white;
}
body{
	background-image: url('https://images.unsplash.com/photo-1607743386830-f198fbd7f9c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
}
