div{
	height: 12em;
	width: 12em;
	border-style: none;
	border-radius:30px;
	margin-left:40%;
	z-index: auto;
	font-family: bold;
	display: inline-block;
	margin: 0.3em;
}
button{
	margin-left: 30%;
	margin-top: 1em;
	border-radius: 35px;
	position: relative;
	top: 10%;
	left: 10%;
	border-style: none;
	background: rgba(0, 0, 0,0.4);
	height: 3em;
	width: 14em;
}
.active{
	animation: animation 12s;
}
p{
	margin-left: 20%;
	text-align:center;
	color: white;
	font-size: 1.5em;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
section{
	margin-left: 20%;
	opacity: 0;
}
body{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
}
.electro{
	background-image: url('https://www.tootrouver.fr/wp-content/uploads/2021/11/electro-mob-chargeur-voiture-electrique-wallbox.jpg');
	background-size: cover;
	background-position: center;
}
.gaz{
	background-image: url('https://goshopping.fr/wp-content/uploads/2020/05/LOGO-BITEABLE-Finale.jpg');
	background-size: cover;
	background-position: center;
}
.ace{
	background-image: url('https://ace-batiment.com/wp-content/uploads/2021/11/ACE-logo-vectorise.svg');
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
}
.cdlec{
		background-image: url('https://unilocal.fr/build/img/ogp/eWg3Qm05NzJDbzMxcG56QTFscnFpNnk1fHxDZGxlY3x8fHxmcnx8T3JtZXNzb24gc3VyIE1hcm5l.jpg');
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
}
.acetec{
		background-image: url('https://images.unsplash.com/photo-1517420704952-d9f39e95b43e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.etsa{
			background-image: url('https://images.unsplash.com/photo-1553873002-785d775854c9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.dml{
				background-image:url("DML.png");
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
}
.logo{
	height: 15em;
	width: 15em;
	border-radius: 70% 70%;
	position: relative;
	left: 20%;
	animation: fade 2s;
	transition: 3s all;
	object-fit: cover;
}
@keyframes animation{
from{
	transform: translateY(50%);
	opacity: 1;
}
to{
	transform: translateY(0%);
	opacity: 0;
}
}
@media screen and(min-width: 250px)and(max-height: 950px){
	button{
		margin-top: 1em;
	margin-left: auto;
	border-radius: 35px;
	border-style: none;
	background: rgba(0, 0, 0,0.4);
	height: 3em;
	width: 14em;
}
	div{
	height: 12em;
	width: 12em;
	border-style: none;
	text-align: center;
	z-index: auto;
	opacity: 1;
	font-family: bold;
	display: inline-block;
	margin: 2em;
}
body{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
}
.electro{
	background-image: url('https://www.tootrouver.fr/wp-content/uploads/2021/11/electro-mob-chargeur-voiture-electrique-wallbox.jpg');
	background-size: cover;
	background-position: center;
	margin-left: 10%;
}
.gaz{
	background-image: url('https://goshopping.fr/wp-content/uploads/2020/05/LOGO-BITEABLE-Finale.jpg');
	background-size: cover;
	background-position: center;
	margin-left: 10%;
}
.ace{
	background-image: url('https://ace-batiment.com/wp-content/uploads/2021/11/ACE-logo-vectorise.svg');
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10%;
}
.cdlec{
		background-image: url('https://unilocal.fr/build/img/ogp/eWg3Qm05NzJDbzMxcG56QTFscnFpNnk1fHxDZGxlY3x8fHxmcnx8T3JtZXNzb24gc3VyIE1hcm5l.jpg');
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10%;
}
.acetec{
		background-image: url('https://images.unsplash.com/photo-1517420704952-d9f39e95b43e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10%;
}
.etsa{
			background-image: url('https://images.unsplash.com/photo-1553873002-785d775854c9?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10%;
}
.dml{
				background-image:url("DML.png");
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10%;
}
.logo{
	height: 15em;
	width: 15em;
	border-radius: 70% 70%;
	margin-left: 10% ;
	animation: fade 2s;
	transition: 3s all;
	object-fit: cover;
}
}
